//basic color
@--shadow-white1:  #fff;
@--shadow-black: rgba(0,0,0,.85);


@--shaodw-header-height: 48px;
@--shadow-header-bg: #001529;

@--sahdow-background-white:  #f0f0f0;
@--shaodw-border-color-dark: #b6b7b9;
@--shaodw-grey-color: #f0f2f5;

